<div class="text-container">
  <h1>About</h1>
  <p>Portfoliou is a website where you can get recognition for your work by submitting your software portfolio on the
    submit page! On the blogposts page, you can learn tips on how to improve your portfolio.</p>
  <div class="paragraph-break"></div>
  <p>On the submit page, it is only required to fill in your email, portfolio URL as well as a good description to be
    featured in the list. Then companies can recognize your work, get in touch with you and recruit you! You can also
    discover other portfolios in the list on the submit page and get inspired.</p>
  <h2>Having further questions or feedback?</h2>
  <p>Get in contact with me or visit the Q&amp;A page!</p>
  <div>
    <a href="/contact-page">
      <button class="btn-filled">CONTACT</button>
    </a>
    <a href="/q-and-a-page">
      <button class="btn-outlined">Q&amp;A</button>
    </a>
  </div>
</div>