{{#if answer}}

  {{#if errorMessages.length}}
    <div class="error-messages-container">
      <div>Couldn't edit answer because:</div>
      <ul>
        {{#each errorMessages}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <form action="/edit-answer/{{answer.answerid}}" method="post">
    <div class="answer-container edit">
      <div class="input-container">
        <p class="input-title">Answer</p>
        <input class="input-box" name="answer" type="text" placeholder="Answer" value="{{answer.answer}}" />
      </div>
    </div>
    <input type="submit" class="btn btn-success btn-done" value="DONE" />
  </form>

{{else}}
  <div class="text-container">
    <h1>404 page could not be found</h1>
    <p>The page you are looking for is beyond your reach. Either it does not exist anymore, or perhaps it never
      existed...</p>
    <div class="paragraph-break"></div>
    <h2>Let us guide you to a page that does exist!</h2>
    <div class="paragraph-break"></div>
    <div>
      <a href="/">
        <button class="btn-filled">HOME</button>
      </a>
      <a href="/contact-page">
        <button class="btn-outlined">CONTACT</button>
      </a>
    </div>
  </div>
{{/if}}