<div class="text-container">
  <h1>Share your software portfolio,<br />discover other's and learn portfolio tips</h1>
  <p>Here on Portfoliou, you have the opportunity to share your own software portfolio by adding your email, website URL
    along with a description. You can submit you portfolio and discover other&apos;s on the submit page and also get
    portfolio tips on the blogposts page.</p>
  <div>
    <a href="/submit-page">
      <button class="btn-filled">SUBMIT</button>
    </a>
    <a href="/blogposts-page">
      <button class="btn-outlined">BLOGPOSTS</button>
    </a>
  </div>
</div>